html {
  background: url('http://cdn.willhalling.com/img/pink-cloud.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
}

body {
  background: transparent;
  height: 100%;
}
#timer-body{
  max-width: 60em;
}

.wrap {
  /* OLD browser support */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -moz-box-wrap: nowrap;
  -webkit-box-wrap: nowrap;
  -ms-flexbox-wrap: nowrap;
  -moz-box-direction: column;
  -webkit-box-direction: column;
  -ms-flexbox-direction: column;
  /* END OLD browser support */

  display: flex; /* or inline-flex */
  flex-direction: column; /* or usually or row */
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;
}

.logo {
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Safari */
  transform: rotate(-3deg);
  padding-top: 20px;
}

.logo a {
  /* Google font: https://www.google.com/fonts/specimen/Kaushan+Script */
  font-family: 'Kaushan Script', cursive;
  color: black;
  font-size: 36px;
  padding: 10px;
  opacity: 0.75;

}

.logo a .logo-alt {
  color: #FFF;
  font-size: 24px;
}

.logo a:hover, .logo a:focus {
  text-decoration: none;
  opacity: 1.0;
}

h2 {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 600px;
  color: black;
  opacity: 0.75;
}

p {
  margin: 0;
}

#countdown {
  color: black;
  display: flex;
  max-width: 600px;
  height: 150px;
  justify-content: center;
  margin: 0 auto;
}

#countdown .countdown-section {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  background-color: rgb(109, 109, 109);
  border-right: 1px solid rgba(255, 255, 255, 0.36);
  color: red;
  border-radius: 10%;
  text-align: center;
  font-weight: 30pt bolder;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-style: solid black 1cm;
}

#countdown .countdown-section:last-child {
  border-right: 0;
}

#countdown .countdown-section .h1 {
  opacity: 0.75;
}

#countdown .countdown-section .text-center {
  color: black;
  opacity: 1.0
}

a {
  color: #ff3399;
  text-decoration: none;
}