---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Project{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more projects{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">Projects</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
<div class="wrap">
  <h2 class="text-center">Javascript Final DUE</h2>    
  <div id="countdown">  
    <div class="countdown-section">
      <span class="h1 days">-</span>
      <div class="text-center">DAYS</div>
    </div>
    <div class="countdown-section">
      <span class="h1 hours">-</span>
      <div class="text-center">HRS</div>
    </div>
    <div class="countdown-section">
      <span class="h1 minutes"></span>
      <div class="text-center">MINS</div>
    </div>
    <div class="countdown-section">
      <span class="h1 seconds"></span>
      <div class="text-center">SECS</div>
    </div>
  </div>
 
  <footer class="site-footer text-center">
    <span>&copy; www.grateful.today | What are you grateful for today?</span>
  </footer>
</div>
<script  src="./script.js"></script>
