---
layout: layouts/base.njk
---


{{ content | safe }}

{%- css %}{% include "public/css/timer.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<div class="wrap"> 
  <div id="countdown">  
    <div class="countdown-section">
      <span class="h1 days">-</span>
      <div class="text-center">DAYS</div>
    </div>
    <div class="countdown-section">
      <span class="h1 hours">-</span>
      <div class="text-center">HRS</div>
    </div>
    <div class="countdown-section">
      <span class="h1 minutes"></span>
      <div class="text-center">MINS</div>
    </div>
    <div class="countdown-section">
      <span class="h1 seconds"></span>
      <div class="text-center">SECS</div>
    </div>
  </div>
</div>
<!-- partial -->
<script>
{% include "content/due/timer.js" %}
</script>